<div id = "event-<%=day._id%>" class="event-box">
    <%if(user.settings.pageScroll){%>
    <section id="page-1" class="page">
    <%}%>
        <div id="title-box-event">
            <p class="boxtext title">Day <%=day.number%> - <%=time%></p>
            <div id='click-signifier'><i class="fa-solid fa-yin-yang spin"></i></div>
        </div>
    <%if(user.settings.pageScroll){%>
    </section>
    <%}%>
</div> 
<div id = "event-<%=day._id%>-height-box" class = "height-box">

</div>
<script>
    info.phase = JSON.parse(`<%-JSON.stringify(time)%>`)
    $("#gamemaster-tab").addClass("unselected");
    $("#story-tab").removeClass("unselected");
    $("#contents-tab").addClass("unselected");
    $("#story-tab").text(`Day <%=day.number%> - <%=time.charAt(0).toUpperCase() + time.substring(1)%>`)
    index = -1;
    pageNum = 1;
    eventId = JSON.parse(`<%-JSON.stringify(day._id)%>`); 
    text = JSON.parse(`<%-JSON.stringify(day[time.charAt(0).toLowerCase() + time.slice(1)])%>`);
    info.day =JSON.parse(`<%-JSON.stringify(day.number)%>`); 
    loadEvent();
    continueEvent = true;
</script>
<animation>day</animation>
<background><%=day.startingBackground%></background>
<bgm><%=day.startingMusic%></bgm>