<div id="report-card">
    <div id="report-card-nav">
        <section id="report-nav-top">
            <div id="report-card-title"><i class="report-card-img fa-solid fa-users"></i>Report Card</div>
            <div id="report-card-handbook-title">Student Information</div>
        </section>
        <section id="report-nav-bottom">
            <%for(let x=0; x<16; x++){%>
                <div class="report-nav-student"id="student-<%=x+1%>"></div>
                <script>
                    buttons[`reportNavStudent<%=x%>`] = async function(){
                        $(`#student-<%=x+1%>`).on("mouseover",function(){
                            playSound("Selecting");
                        })
                        $(`#student-<%=x+1%>`).on("click", function(){
                            playSound("Selected");
                            newStates = ["despair","e-handbook","report-card","report-card-info","page-one"]
                            newDatabaseObjects = [false,false,false,[{name:"ReportCard",id:user.despair.reportCards[<%=x%>]}],[{name:"ReportCard",id:user.despair.reportCards[<%=x%>]}]]
                            newCustomData = [false,false,false,false,false]
                            pageTitle = "Killing Game"
                            url = "/despair/e-handbook/report-card/report-card-info/page-one"
                            stateChange(newStates,newDatabaseObjects,newCustomData,pageTitle,url)
                        })
                    }
                    buttons.reportNavStudent<%=x%>();
                </script>
                <%}%>
                <div id="report-nav-student-name"></div>
        </section>
    </div>
    <subcontainer></subcontainer>
</div>
<script>
    buttons.loadReportCards = async function(){
        for(let x=0; x<user.despair.reportCards.length; x++){
            let reportCard = await loadDatabaseObject("ReportCard",user.despair.reportCards[x]);
            $(`#student-${x+1}`).css("background-image",`url(/avatars/${reportCard.firstName}.png)`)
            $(`#student-${x+1}`).hover(function(){
                if(reportCard.japanese){
                    $("#report-nav-student-name").text(reportCard.lastName + " " + reportCard.firstName)
                }else{
                    $("#report-nav-student-name").text(reportCard.firstName + " " + reportCard.lastName)
                }
            },function(){
                $("#report-nav-student-name").text("");
            })
        }
    }
    buttons.loadReportCards();
</script>
<animation>reportCard</animation>