<div class="report-info-page" id="page-one">
    <div class="report-row">
        <div class="report-sub-row" id="report-height">
            <div class="report-title">
                Height
            </div>
            <div class="report-description">
                <%=reportcard.height%>
            </div>
        </div>
        <div class="report-sub-row" id="report-weight">
            <div class="report-title">
                Weight
            </div>
            <div class="report-description">
                <%=reportcard.weight%>
            </div>
        </div>
    </div>
    <div class="report-row">
        <div class="report-sub-row" id="report-birthday">
            <div class="report-title">
                Birthday
            </div>
            <div class="report-description">
                <%=reportcard.birthday%>
            </div>
        </div>
        <div class="report-sub-row" id="report-age">
            <div class="report-title">
                Age
            </div>
            <div class="report-description">
                <%=reportcard.age%>
            </div>
        </div>
    </div>
    <div class="report-row">
        <div class="report-title">
            Likes
        </div>
        <div class="report-description">


        </div>
    </div>
    <div class="report-row">
        <div class="report-title">
            Dislikes
        </div>
        <div class="report-description">


        </div>
    </div>
    <div class="report-row">
        <div class="report-title">
            Ultimate High School
        </div>
        <div class="report-description">
            <%=reportcard.ultimate.name%>
        </div>
    </div>
    <div class="report-notes">
        <div class="report-notes-title">
            Notes
        </div>
        <div class="report-notes-notes">
            
        </div>
    </div>
</div>
<script>
    $(".report-card-info-box").css("color","white");
    $(".report-card-info-box").css("background-color","#242424");
    $("#report-card-info-box-1").css("color","black");
    $("#report-card-info-box-1").css("background-color","lightgrey");
</script>
<animation>down</animation>